<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGCP.Core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <img class="mr-3" src="~/Files/Imagens/logo.png" width="30" height="40">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Usuarios/Index">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Vara/Index">Varas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/processo/Index">Processos</a>
                </li>
            </ul>
            <div class="justify-content-end">
                @if (ViewBag.nome != null)
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <span class="navbar-text text-white mr-3" id="usuario">@ViewBag.nome</span>
                        </li>
                        <li class="nav-item justify-content-end">
                            <a class="nav-link" href="~/Login/Logout">Sair</a>
                        </li>
                    </ul>
                }
                else
                {
                    <a class="btn-link" href="~/Login/Index">Login</a>
                }
            </div>

        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="modal-footer">
        <p class="text-center">&copy; @DateTime.Now.Year - SGCP Web</p>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
